.header {
  padding: 10px 20px;
  height: 100%;
}

.body {
  margin-top: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.email {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.inputLabel {
  display: flex;
  font-size: 20px;
}

.infoBox {
  box-shadow: 1px 2px 4px grey;
  width: 200px;
  height: 150px;
  transition: all 0.5s linear;
  margin-left: 50px;
  padding: 20px;
}

.Modal {
  background-color: white;
  position: absolute;
  border-radius: 8px;
  top: 50px;
  left: 100px; //350px
  font-size: 20px;
  padding: 20px;
  width: 400px; //450
  height: 300px; //360
}

.Modal-tab {
  left: 250px;
}

.Modal-mobile {
  left: 200px;
}
